.table thead th {
    background-color: #00487C; 
    color: #FFFFFF; 
}

.table {
    border-color: #027BCE; 
}
.table th, .table td {
    border-color: #027BCE;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(75, 179, 253, 0.1); 
}

.table-hover tbody tr:hover {
    background-color: rgba(75, 179, 253, 0.2); 
}

.table th:last-child, .table td:last-child {
    text-align: center;
    white-space: nowrap; 
}

.btn-custom-edit {
    background-color: #0496FF; 
    color: #FFFFFF;
}
.btn-custom-delete {
    background-color: #E36680; 
    color: #FFFFFF;
}